.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-file {
    padding: 5px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


label, input[type='file']{
    text-align: left;
}